.mainSectionContainer {
  width: 70%;
  margin: 3rem auto;

  h2 {
    font-size: 1.1rem;
  }
}

.mainSectionMiddle {}

.msMImage {}

.msMDescription {
  p {
    font-size: 0.933rem;
    line-height: 1.5;
  }
}

@media(min-width: 1024px) {
  .mainSectionMiddle {
    display: flex;
    justify-content: space-between;
  }

  .msMImage {
    max-width: 545px;
    flex: 1 0 545px;
  }

  .msMDescription {
    margin-left: 30px;
    align-self: center;

    p {
      font-size: 1.1rem;
    }
  }
}
