body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

img {
  width: 100%;
}

@media(min-width: 1024px) {
  form {
    width: 60%;
    margin: 0 auto;

    input[type=text],
    input[type=email],
    input[type=password] {
      width: 65%;
    }
  }
}

form {
  padding: 2rem;
  text-align: center;

  input[type=text],
  input[type=email],
  input[type=password] {
    width: 60%;
  }

  .submit-btn {
    display: flex;
    justify-content: center;
  }

  .submit {
    width: 200px;
  }
}

::placeholder {
  color: #606060;
  font-size: 16px;
}
